ul {
    float: right;
    list-style-type: none;
}

ul > li {
    display: inline-block;
    margin-top: 35px;
}

ul > li > a {
    text-decoration: none;
    color: white;
    padding: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}
ul > li > a:hover {
    background-color: white;
    color: blue;
}
.home {
    background-color: white;
    color: blue;
}
.home:hover {
    background-color: blue;
    color: white;
}

.button {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.btn {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    border: 1px solid white;
    padding: 25px;
    padding-top:10px;
    padding-bottom:10px;
    transition: 0.6 ease;
}
.btn:hover {
    background-color: white;
    color: blue;
}