ul {
    float: right;
    list-style-type: none;
}

ul > li {
    display: inline-block;
    margin-top: 35px;
}

ul > li > a {
    text-decoration: none;
    color: white;
    padding: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid white;
    transition: 0.6s ease;
}

ul > li > a:hover {
    background-color: white;
    color: blue;
}