@import './button.css';
@import './logo.css';

body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main {
    background-image: url(../img/maldives-maldivy-domik.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
